	body{
		margin: 0px;
		padding: 0px;
	}
	#container{
		background-color: #111111;
		height: 667px;
		width: 375px;
		border-radius: 8px;
		position: fixed;
		top: 0px;
		left: 0%;
	}
	.screen{
		background-color: papayawhip;
		width: 345px;
		height: 85px;
		position: relative;
		top: 20px;
		left: 15px;
	}
	.screen input{
		position: relative;
		left: 2px;
		top: 3px;
		height: 73px;
		width: 337px;
		color: black;
		background-color: white;
		font-size: 30px;
		text-align: right;
	}
	.btns{
		position: relative;
		top: 27px;
		left: 5px;
	}
	.button{
		width: 58px;
		height: 60px;
		border: none;
		border-radius: 7px;
		margin-left: 10px;
		cursor: pointer;
	}
	.button.black{
		color: white;
		background-color: darkslategrey;
		border-bottom: 2px solid #647489;
		border-top: 2px black;
	}
	.button.silver{
		color: white;
		background-color: #647489;
		border-bottom: 2px solid #647489;
	}
	.button.red{
		color: white;
		background-color: red;
		border-bottom: 2px solid #647489
	}

	p{
		line-height: 30px;
	}